.row.header .inner .logo {
    position: absolute;
    left: 100px;
    margin-left: -100px;
    top: 40px;
    z-index: 2;
}

.row.header .inner .nav.nav-main {
    position: absolute;
    top: 110px;
    right: 0;
    bottom: auto;
    left: 220px;
    z-index: 99999;
}

.row.header .inner .nav.nav-main>ul>li>ul {
    left: 0px;
}

.row.header .inner .nav.nav-main>ul {
    width: auto;
}

.row.header .inner .nav.nav-main>ul>li {
    padding: 0px 20px;
}

@media (min-width: 769px) {
    .row.content.module-13.module-13-imgcarousel .background ul.list.list-img-carousel li.item {
        outline: none;
    }
    .module-13-imgcarousel .background {
        right: 0 !important;
    }
    .row.header .inner .nav.nav-main>ul>li>ul {
        width: 125px;
        z-index: 11;
        top: 25px;
        padding-top: 10px;
    }
}

footer .content .top-lines {
    width: 100%;
    height: 5px;
    border-top: 1px solid #cfc2b9;
    border-bottom: 1px solid #cfc2b9;
}

.footer-content {
    padding-top: 45px;
    padding-bottom: 45px;
}

@media (min-width: 769px) {
    .col-2 {
        width: 16.666666666666667%;
        float: left;
    }
    .col-6 {
        width: 50%;
        float: left;
    }
    .col-12 {
        width: 100%;
        float: left;
    }
}

.col-name {
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Frank Ruhl Libre',sans-serif;
    color: #9b8578;
    margin-bottom: 20px;
}

ul.footer-links li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #ababad;
    font-size: 10pt;
}

ul.footer-links li a:hover, ul.footer-links li a:focus {
    color: #666;
}

footer .content {
    position: relative;
}

footer .fb-link {
    position: absolute;
    right: 70px;
    top: 55px;
}

footer .copyright {
    text-transform: uppercase;
}

footer .copyright-menu {
    background: #fff;
    width: 100%;
    height: auto;
    display: block;
    padding-bottom: 50px;
    text-align: right;
}

footer ul.copyright-menu li {
    margin-left: 25px;
    float: right;
}

footer ul.copyright-menu li a {
    color: #9b8578;
    float: right;
}

.row.header .inner .nav.nav-main>ul>li>ul>li.active>a {
    color: #3e1f0d;
}

.map-btn {
    background: #9b8578;
    color: #fff;
    float: right;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    margin-right: 10px;
    border: 2px solid #9b8578;
    transition: all .25s linear;
}
.map-btn:hover, .map-btn:focus {
    background: #fff;
    color: #9b8578;
    text-decoration: none;
    border: 2px solid #9b8578;
}

.area-kontakt-mapa img {
    width: 100%;
}

/* jssor slider loading skin spin css */
.jssorl-009-spin img {
    animation-name: jssorl-009-spin;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes jssorl-009-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


.jssora093 {display:block;position:absolute;cursor:pointer;}
.jssora093 .c {fill: #000;stroke:#fff;stroke-width:400;stroke-miterlimit:10;}
.jssora093 .a {fill:none;stroke:#fff;stroke-width:400;stroke-miterlimit:10;}
.jssora093:hover {opacity:.8;}
.jssora093.jssora093dn {opacity:.6;}
.jssora093.jssora093ds {opacity:.3;pointer-events:none;}

.jssort101 .p {position: absolute;top:0;left:0;box-sizing:border-box;background:#000;}
.jssort101 .p .cv {position:relative;top:0;left:0;width:100%;height:100%;border:2px solid #000;box-sizing:border-box;z-index:1;}
.jssort101 .a {fill:none;stroke:#fff;stroke-width:400;stroke-miterlimit:10;visibility:hidden;}
.jssort101 .p:hover .cv, .jssort101 .p.pdn .cv {border:none;border-color:transparent;}
.jssort101 .p:hover{padding:2px;}
.jssort101 .p:hover .cv {background-color:rgba(0,0,0,6);opacity:.35;}
.jssort101 .p:hover.pdn{padding:0;}
.jssort101 .p:hover.pdn .cv {border:2px solid #fff;background:none;opacity:.35;}
.jssort101 .pav .cv {border-color:#fff;opacity:.35;}
.jssort101 .pav .a, .jssort101 .p:hover .a {visibility:visible;}
.jssort101 .t {position:absolute;top:0;left:0;width:100%;height:100%;border:none;opacity:.6;}
.jssort101 .pav .t, .jssort101 .p:hover .t{opacity:1;}

.menu-content {
    background: #fff;
    width: 100%;
    height: auto;
    display: flex;
    padding-bottom: 50px;
}

.row.content.module-11 .background {
    background-size: 100%;
    background-position: top;
}

.row.content.module-8 .background {
    background-size: contain;
    right: 30%;
}

.row.content.module-10 .background {
    background-size: contain;
    left: 30%;
}

.row.content.module-11 .background {
    right: 0;
}

.x-form-text-default {
    text-align: right;
}

@media (min-width: 769px) {
    .row.content.module-50 .inner:before {
        display: none;
    }
    .row.content.module-50 .article.article-left {
        padding-bottom: 80px;
    }
    .m50_editmode {
        height: auto !important;
    }
    .col-5 {
        width: 41.66666666666667% !important;
    }
    .module-slider::after {
        bottom: -35px !important;
    }
    #formEmail-error {
        float: right;
        position: absolute;
        width: 100%;
        top: 13px;
        margin-left: 10px;
    }
    .module-ki .background {
        left: 60% !important;
        top: 50px;
        width: 35%;
        height: 63%;
    }
    .module-ki-txt {
        margin-top: 0 !important;
    }
    .big-title {
        font-size: 60px !important;
        line-height: 70px !important;
        text-align: right !important;
        margin-bottom: 0 !important;
    }
    .big-title::before, .big-title::after {
        display: none !important;
    }
    .module-km-left, .module-km-right {
        margin-top: 30px !important;
    }
    h2.alone-title {
        color: #9b8578;
        font-size: 45px !important;
        line-height: 38px !important;
        font-weight: 400 !important;
        letter-spacing: 3px;
        text-transform: uppercase;
        padding-bottom: 30px;
        position: relative;
        text-align: center;
        margin-top: 55px;
        margin-bottom: 55px;
    }
    .prukaz h2 {
        color: #9b8578;
        letter-spacing: 4px;
        text-transform: uppercase;
        font-size: 40pt !important;
        line-height: 30px  !important;
        font-weight: 700 !important;
        margin-top: 7%;
        margin-bottom: 6%;
    }
    .prukaz h3 {
        margin-bottom: 10%;
    }
    .prukaz p {
        font-size: 20px;
        line-height: 30px;
        font-weight: 300;
    }
    form {

    }
    form label {
        display: block;
        font-weight: 600;
    }
    form input, form select {
        width: 300px;
        padding: 5px 10px;
        margin-bottom: 10px;
    }
    form input[type="checkbox"], form input[type="radio"] {
        width: auto;
    }
    form label.inline {
        display: inline-block;
        margin-left: 5px;
    }
    .send-form {
        padding: 15px 10px !important;
        margin-top: 15px;
        margin-bottom: 30px;
    }
    label.error {
        color: #f00;
        font-size: 8pt;
        margin-top: -12px;
    }

    .login h2 {
        color: #9b8578;
        letter-spacing: 4px;
        text-transform: uppercase;
        font-size: 40pt !important;
        line-height: 30px  !important;
        font-weight: 700 !important;
        margin-top: 7%;
        margin-bottom: 6%;
        z-index: 10;
        position: relative;
    }
    .form-place {
        width: 280px;
        margin: 0 auto;
        position: relative;
    }

    .form-place img {
        position: absolute;
        top: -165px;
        left: -193px;
    }
    #login-form {
        z-index: 10;
        position: relative;
    }
    #login-form label {
        display: inline-block;
        font-weight: 600;
    }
    #login-form input {
        display: inline-block;
        width: 82%;
        background: transparent;
        box-shadow: none;
        border: 1px solid #9b8578;
    }
    .login-user {
        padding: 6px 10px !important;
        min-width: auto !important;
        font-size: 10px !important;
    }
    #login-form .btns {
        text-align: right;
        margin-bottom: 100px;
    }
    .send-new-password {
        font-size: 9pt;
        color: #9b8578;
        font-style: italic;
        margin-left: 10px;
    }
    .row.content.module-13 .background {
        background-size: contain;
        background-position: right;
    }
    .row.content.module-12 .background {
        background-size: contain;
        background-repeat: no-repeat;
    }
}

#slider .slide-overlay {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.15);
    position: absolute;
    top: 0;
}

#slider .slide-content {
    position: relative;
}

#slider .text-content {
    position: absolute;
    top: 385px;
    width: 100%;
    padding: 15px;
    text-align: center;
    color: rgba(255, 255, 255,.8);
    font-family: 'Frank Ruhl Libre',sans-serif;
}

#slider .text-content h3 {
    font-size: 40pt;
    text-transform: uppercase;
    line-height: 60px;
}

#slider .text-content h3 > small {
    font-size: 25pt;
    display: block;
    text-transform: none;
}

#slider .slick-dots {
    position: absolute;
    bottom: 50px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

#slider .slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

#slider .slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 10px;
    height: 10px;
    padding: 5px;
    cursor: pointer;
    outline: none;
    border: 1px solid #fff;
    background: transparent;
    border-radius: 50%;
}
#slider .slick-dots li.slick-active button {
    background: #fff;
}

#slider .slick-arrow {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

#slider .slick-prev {
    left: 50px;
    z-index: 999;
}

#slider .slick-prev::after {
    content: "";
    background: url("");
    width: 22px;
    height: 40px;
    display: block;
}

#slider .slick-next {
    right: 50px;
    z-index: 999;
}

#slider .slick-next::after {
    content: "";
    background: url("");
    width: 22px;
    height: 40px;
    display: block;
}

#slider img {
    width: 100%;
}

footer ul.socials {
    position: absolute;
    right: 70px;
    top: 55px;
    width: 100%;
}

footer ul.socials li {
    float: right;
    margin-left: 15px;
}

footer ul.socials li a {
    color: #ababad;
    transition: all .25s linear;
}

footer ul.socials li a:hover, footer ul.socials li a:focus {
    color: #666;
    text-decoration: none;
}

footer ul.socials li a i {
    font-size: 15pt;
}

.area-galerie2 .alone-title {
    margin-bottom: 0;
}

#gallery2 .slick-slide {
    outline: none;
}

#gallery2 .slick-slide img {
    opacity: 1;
    height: 90vh;
    width: auto;
    margin: 0 auto;
}

#gallery2nav .slick-slide img {
    height: 100px;
}

#gallery2 .slick-arrow {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 43px;
    height: 43px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

#gallery2 .slick-prev {
    left: 2.5%;
    z-index: 999;
}

#gallery2 .slick-prev::after {
    content: "";
    background: url("");
    width: 43px;
    height: 43px;
    display: block;
}

#gallery2 .slick-next {
    right: 2.5%;
    z-index: 999;
}

#gallery2 .slick-next::after {
    content: "";
    background: url("");
    width: 43px;
    height: 43px;
    display: block;
}

#gallery2nav {
    margin-top: 15px;
}

.row.content.module-41:after {
    display: none;
}

.msg1, .msg2 {
    display: inline-block;
    margin-left: 10px;
    color: #9b8578;
}

#slider .slick-prev, #slider .slick-next {
    width: 22px;
    height: 40px;
}

@media (min-height: 970px) {
    #gallery2 .slick-slide img {
        height: 873px;
    }
}

@media (min-width:769px) and (max-width: 1024px) {
    .row.header .inner .nav.nav-main {
        top: 95px;
    }
    .row.header .inner .nav.nav-main>ul>li {
        padding: 0px 12px;
    }
}

.row.content.module-7 .module-7-img.module-7-img-middle {
    padding-top: 0;
    margin-top: -50px;
}
.row.content.module-7 .module-7-txt h2 {
    margin-bottom: 60px;
}
.st-chck strong {
    display: block;
    font-weight: 600;
}

.row.content.module-35 .article .background {
    background-repeat: no-repeat;
}
.b-1-i {
    max-height: 364px;
    margin: 0 auto;
    display: block;
}
#ui-datepicker-div {
    font-size: initial !important;
    line-height: initial !important;
}
#poukaz-form input, #poukaz-form select {
    border: 1px solid #9b8578;
}
.prukaz-img {
    width: 50%;
    float: left;
}
.poukaz-slider {
    width: 223px;
    float: left;
}
.prukaz-btn {
    display: block;
    width: 30%;
    margin-top: 15px;
    display: block;
    float: left;
}

.poukaz-slider .slick-arrow {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 98%;
    display: block;
    width: 43px;
    height: 43px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.poukaz-slider .slick-prev::after {
    content: "";
    background: url("");
    width: 43px;
    height: 43px;
    display: block;
    z-index: 10;
    position: absolute;
}
.poukaz-slider .slick-next {
    right: 2.5%;
    z-index: 999;
}
.poukaz-slider .slick-next::after {
    content: "";
    background: url("");
    width: 43px;
    height: 43px;
    display: block;
    z-index: 10;
    position: absolute;
}
#formAmount {
    margin-bottom: 15px;
}

.hidden {
    display: none;
}

.sp-select {
    position: absolute;
    top: 89%;
    right: 24%;
}

p.retuse-note {
    margin-bottom: 11px;
}

.retuse-admin-title {
    font-size: 30pt;
    margin-top: 6%;
    margin-bottom: 25px;
}
.login-to-retuse {
    margin-top: 30px;
    margin-bottom: 40px;
}
.panel-body .alert-danger {
    color: #f00;
    font-weight: 600;
}
.tip {
    opacity: .8;
}

@media (min-width: 992px) {
    .module-1-txt h1, .module-1-txt h2, .module-1-txt h3, .module-1-txt h4, .module-1-txt h5 {
        color: #9b8578 !important;
        font-size: 60px !important;
        line-height: 65px !important;
        font-weight: 400 !important;
        letter-spacing: 4px !important;
        text-transform: uppercase !important;
        margin-bottom: 30px !important;
        font-family: 'Frank Ruhl Libre',sans-serif !important;
    }
    .row.content.module-2 .module-2-gallery h1, .row.content.module-2 .module-2-gallery h2, .row.content.module-2 .module-2-gallery h3, .row.content.module-2 .module-2-gallery h4, .row.content.module-2 .module-2-gallery h5 {
        font-size: 60px !important;
        line-height: 65px !important;
        font-weight: 400 !important;
        margin: 0 25px !important;
        margin-bottom: 25px !important;
        background: transparent url("") 0 center repeat-x !important;
        font-style: italic !important;
        display: block !important;
        text-align: center !important;
        color: #cfc2b9 !important;
    }
    .row.content.module-2 .module-2-gallery h1 span, .row.content.module-2 .module-2-gallery h2 span, .row.content.module-2 .module-2-gallery h3 span, .row.content.module-2 .module-2-gallery h4 span, .row.content.module-2 .module-2-gallery h5 span  {
        padding: 0 50px !important;
        background: #fff !important;
    }
    .row.content.module-3 .module-3-txt h1, .row.content.module-3 .module-3-txt h2, .row.content.module-3 .module-3-txt h3, .row.content.module-3 .module-3-txt h4, .row.content.module-3 .module-3-txt h5 {
        color: #9b8578 !important;
        font-size: 60px !important;
        line-height: 65px !important;
        font-weight: 400 !important;
        letter-spacing: 4px !important;
        text-transform: uppercase !important;
        margin-bottom: 30px !important;
        font-family: 'Frank Ruhl Libre',sans-serif !important;
    }
    .row.content.module-3 .module-3-txt h1, .row.content.module-3 .module-3-txt h2, .row.content.module-3 .module-3-txt h3, .row.content.module-3 .module-3-txt h4, .row.content.module-3 .module-3-txt h5 {
        color: #9b8578 !important;
        font-size: 60px !important;
        line-height: 65px !important;
        font-weight: 400 !important;
        letter-spacing: 4px !important;
        text-transform: uppercase !important;
        margin-bottom: 30px !important;
    }
    .row.content.module-5 .module-5-txt h1, .row.content.module-5 .module-5-txt h2, .row.content.module-5 .module-5-txt h3, .row.content.module-5 .module-5-txt h4, .row.content.module-5 .module-5-txt h5 {
        color: #9b8578 !important;
        font-size: 60px !important;
        line-height: 65px !important;
        font-weight: 400 !important;
        letter-spacing: 4px !important;
        text-transform: uppercase !important;
        margin-bottom: 30px !important;
        font-family: 'Frank Ruhl Libre',sans-serif !important;
    }
    .row.content.module-6 .module-6-txt h1, .row.content.module-6 .module-6-txt h2, .row.content.module-6 .module-6-txt h3, .row.content.module-6 .module-6-txt h4, .row.content.module-6 .module-6-txt h5 {
        color: #9b8578 !important;
        font-size: 60px !important;
        line-height: 65px !important;
        font-weight: 400 !important;
        letter-spacing: 4px !important;
        text-transform: uppercase !important;
        margin-bottom: 30px !important;
        font-family: 'Frank Ruhl Libre',sans-serif !important;
    }
    .row.content.module-7 .module-7-txt h1, .row.content.module-7 .module-7-txt h2, .row.content.module-7 .module-7-txt h3, .row.content.module-7 .module-7-txt h4, .row.content.module-7 .module-7-txt h5 {
        color: #9b8578 !important;
        font-size: 60px !important;
        line-height: 65px !important;
        font-weight: 400 !important;
        letter-spacing: 4px !important;
        text-transform: uppercase !important;
        font-family: 'Frank Ruhl Libre',sans-serif !important;
        margin-bottom: 60px;
    }
    .row.content.module-8 .module-8-txt h1, .row.content.module-8 .module-8-txt h2, .row.content.module-8 .module-8-txt h3, .row.content.module-8 .module-8-txt h4, .row.content.module-8 .module-8-txt h5 {
        color: #9b8578 !important;
        font-size: 32px !important;
        line-height: 38px !important;
        font-weight: 400 !important;
        letter-spacing: 3px !important;
        text-transform: uppercase !important;
        margin-bottom: 30px !important;
        padding-bottom: 30px !important;
        position: relative !important;
        font-family: 'Frank Ruhl Libre',sans-serif !important;
    }
    .row.content.module-9 .module-9-txt h1, .row.content.module-9 .module-9-txt h2, .row.content.module-9 .module-9-txt h3, .row.content.module-9 .module-9-txt h4, .row.content.module-9 .module-9-txt h5 {
        color: #9b8578 !important;
        font-size: 32px !important;
        line-height: 38px !important;
        font-weight: 400 !important;
        letter-spacing: 3px !important;
        text-transform: uppercase !important;
        margin-bottom: 30px !important;
        padding-bottom: 30px !important;
        position: relative !important;
        font-family: 'Frank Ruhl Libre',sans-serif !important;
    }
    .row.content.module-10 .module-10-txt h1, .row.content.module-10 .module-10-txt h2, .row.content.module-10 .module-10-txt h3, .row.content.module-10 .module-10-txt h4, .row.content.module-10 .module-10-txt h5 {
        color: #9b8578  !important;
        font-size: 32px !important;
        line-height: 38px !important;
        font-weight: 400 !important;
        letter-spacing: 3px !important;
        text-transform: uppercase !important;
        margin-bottom: 30px !important;
        padding-bottom: 30px !important;
        position: relative !important;
        font-family: 'Frank Ruhl Libre',sans-serif !important;
    }
    .row.content.module-11 .module-11-txt h1, .row.content.module-11 .module-11-txt h2, .row.content.module-11 .module-11-txt h3, .row.content.module-11 .module-11-txt h4, .row.content.module-11 .module-11-txt h5 {
        color: #9b8578 !important;
        font-size: 32px !important;
        line-height: 38px !important;
        font-weight: 400 !important;
        letter-spacing: 3px !important;
        text-transform: uppercase !important;
        margin-bottom: 30px !important;
        padding-bottom: 30px !important;
        position: relative !important;
        font-family: 'Frank Ruhl Libre',sans-serif !important;
    }
    .row.content.module-12 .module-12-txt h1, .row.content.module-12 .module-12-txt h2, .row.content.module-12 .module-12-txt h3, .row.content.module-12 .module-12-txt h4, .row.content.module-12 .module-12-txt h5 {
        color: #9b8578 !important;
        font-size: 37px !important;
        line-height: 45px !important;
        font-weight: 400 !important;
        letter-spacing: 3px !important;
        text-transform: uppercase !important;
        margin-bottom: 30px !important;
        position: relative !important;
        font-family: 'Frank Ruhl Libre',sans-serif !important;
    }
    .row.content.module-13 .module-13-txt h1, .row.content.module-13 .module-13-txt h2, .row.content.module-13 .module-13-txt h3, .row.content.module-13 .module-13-txt h4, .row.content.module-13 .module-13-txt h5 {
        color: #9b8578 !important;
        font-size: 32px !important;
        line-height: 38px !important;
        font-weight: 400 !important;
        letter-spacing: 3px !important;
        text-transform: uppercase !important;
        margin-bottom: 30px !important;
        padding-bottom: 30px !important;
        position: relative !important;
        font-family: 'Frank Ruhl Libre',sans-serif !important;
    }
    .row.content.module-14 .col-4 h1, .row.content.module-14 .col-4 h2, .row.content.module-14 .col-4 h3, .row.content.module-14 .col-4 h4, .row.content.module-14 .col-4 h5 {
        color: #9b8578 !important;
        font-size: 32px !important;
        line-height: 38px !important;
        font-weight: 700 !important;
        letter-spacing: 3px !important;
        text-transform: uppercase !important;
        margin-bottom: 15px !important;
        position: relative !important;
        font-family: 'Frank Ruhl Libre',sans-serif !important;
    }
    .row.content.module-15 h1, .row.content.module-15 h2, .row.content.module-15 h3, .row.content.module-15 h4, .row.content.module-15 h5 {
        color: #9b8578 !important;
        font-size: 40px !important;
        line-height: 45px !important;
        font-weight: 700 !important;
        letter-spacing: 3px !important;
        text-transform: uppercase !important;
        margin-bottom: 35px !important;
        position: relative !important;
        font-family: 'Frank Ruhl Libre',sans-serif !important;
    }
    .row.content.module-16 h1, .row.content.module-16 h2, .row.content.module-16 h3, .row.content.module-16 h4, .row.content.module-16 h5 {
        color: #9b8578 !important;
        font-size: 40px !important;
        line-height: 45px !important;
        font-weight: 700 !important;
        letter-spacing: 3px !important;
        text-transform: uppercase !important;
        margin-bottom: 35px !important;
        position: relative !important;
        font-family: 'Frank Ruhl Libre',sans-serif !important;
    }
    .row.content.module-17 h1, .row.content.module-17 h2, .row.content.module-17 h3, .row.content.module-17 h4, .row.content.module-17 h5 {
        color: #9b8578 !important;
        font-size: 40px !important;
        line-height: 45px !important;
        font-weight: 700 !important;
        letter-spacing: 3px !important;
        text-transform: uppercase !important;
        margin-bottom: 35px !important;
        position: relative !important;
        font-family: 'Frank Ruhl Libre',sans-serif !important;
    }
    .row.content.module-18 h1, .row.content.module-18 h2, .row.content.module-18 h3, .row.content.module-18 h4, .row.content.module-18 h5 {
        color: #9b8578 !important;
        font-size: 28px !important;
        line-height: 35px !important;
        font-weight: 700 !important;
        letter-spacing: 3px !important;
        text-transform: uppercase !important;
        margin-bottom: 35px !important;
        position: relative !important;
        padding-left: 15px !important;
        padding-right: 15px !important;
        text-align: center !important;
        font-family: 'Frank Ruhl Libre',sans-serif !important;
    }
    .row.content.module-18 h1, .row.content.module-18 h2, .row.content.module-18 h3, .row.content.module-18 h4, .row.content.module-18 h5 {
        color: #9b8578 !important;
        font-size: 28px !important;
        line-height: 35px !important;
        font-weight: 700 !important;
        letter-spacing: 3px !important;
        text-transform: uppercase !important;
        margin-bottom: 35px !important;
        position: relative !important;
        padding-left: 15px !important;
        padding-right: 15px !important;
        text-align: center !important;
        font-family: 'Frank Ruhl Libre',sans-serif !important;
    }
    .row.content.module-23 h1, .row.content.module-23 h2, .row.content.module-23 h3, .row.content.module-23 h4, .row.content.module-23 h5 {
        color: #9b8578 !important;
        font-size: 40px !important;
        line-height: 45px !important;
        font-weight: 700 !important;
        letter-spacing: 3px !important;
        text-transform: uppercase !important;
        margin-bottom: 25px !important;
        position: relative !important;
        font-family: 'Frank Ruhl Libre',sans-serif !important;
    }
    .row.content.module-24 h1, .row.content.module-24 h2, .row.content.module-24 h3, .row.content.module-24 h4, .row.content.module-24 h5 {
        color: #9b8578 !important;
        font-size: 35px !important;
        line-height: 40px !important;
        font-weight: 400 !important;
        letter-spacing: 3px !important;
        text-transform: uppercase !important;
        margin-bottom: 25px !important;
        padding-bottom: 25px !important;
        position: relative !important;
        font-family: 'Frank Ruhl Libre',sans-serif !important;
    }
    .row.content.module-25 h1, .row.content.module-25 h2, .row.content.module-25 h3, .row.content.module-25 h4, .row.content.module-25 h5 {
        color: #9b8578 !important;
        font-size: 40px !important;
        line-height: 45px !important;
        font-weight: 700 !important;
        letter-spacing: 3px !important;
        text-transform: uppercase !important;
        margin-bottom: 35px !important;
        position: relative !important;
        padding-left: 15px !important;
        padding-right: 15px !important;
        font-family: 'Frank Ruhl Libre',sans-serif !important;
    }
    .row.content.module-26 h1, .row.content.module-26 h2, .row.content.module-26 h3, .row.content.module-26 h4, .row.content.module-26 h5 {
        color: #9b8578 !important;
        font-size: 40px !important;
        line-height: 45px !important;
        font-weight: 700 !important;
        letter-spacing: 3px !important;
        text-transform: uppercase !important;
        margin-bottom: 35px !important;
        position: relative !important;
        padding-left: 15px !important;
        padding-right: 15px !important;
        font-family: 'Frank Ruhl Libre',sans-serif !important;
    }
    .row.content.module-27 h1, .row.content.module-27 h2, .row.content.module-27 h3, .row.content.module-27 h4, .row.content.module-27 h5 {
        color: #9b8578 !important;
        font-size: 40px !important;
        line-height: 45px !important;
        font-weight: 700 !important;
        letter-spacing: 3px !important;
        text-transform: uppercase !important;
        margin-bottom: 35px !important;
        position: relative !important;
        padding-left: 15px !important;
        padding-right: 15px !important;
        font-family: 'Frank Ruhl Libre',sans-serif !important;
    }
    .row.content.module-28 .col-5 h1, .row.content.module-28 .col-5 h2, .row.content.module-28 .col-5 h3, .row.content.module-28 .col-5 h4, .row.content.module-28 .col-5 h5 {
        color: #9b8578 !important;
        font-size: 40px !important;
        line-height: 45px !important;
        font-weight: 700 !important;
        letter-spacing: 3px !important;
        text-transform: uppercase !important;
        margin-bottom: 35px !important;
        position: relative !important;
        padding-left: 15px !important;
        padding-right: 15px !important;
        font-family: 'Frank Ruhl Libre',sans-serif !important;
    }
    .row.content.module-29 h1, .row.content.module-29 h2, .row.content.module-29 h3, .row.content.module-29 h4, .row.content.module-29 h5 {
        color: #9b8578 !important;
        font-size: 32px !important;
        line-height: 38px !important;
        font-weight: 400 !important;
        letter-spacing: 3px !important;
        text-transform: uppercase !important;
        margin-bottom: 0 !important;
        position: absolute !important;
        left: 0 !important;
        bottom: 0 !important;
        background: #fff !important;
        padding-top: 50px !important;
        padding-right: 25px !important;
        width: 58.333333333333336% !important;
        font-family: 'Frank Ruhl Libre',sans-serif !important;
    }
    .row.content.module-30 .excerpt h1, .row.content.module-30 .excerpt h2, .row.content.module-30 .excerpt h3, .row.content.module-30 .excerpt h4, .row.content.module-30 .excerpt h5 {
        color: #9b8578 !important;
        font-size: 32px !important;
        line-height: 38px !important;
        font-weight: 700 !important;
        letter-spacing: 3px !important;
        text-transform: uppercase !important;
        margin-bottom: 30px !important;
        padding-top: 0 !important;
        font-family: 'Frank Ruhl Libre',sans-serif !important;
    }
    .row.content.module-39 h1, .row.content.module-39 h2, .row.content.module-39 h3, .row.content.module-39 h4, .row.content.module-39 h5 {
        color: #9b8578 !important;
        font-size: 40px !important;
        line-height: 45px !important;
        font-weight: 700 !important;
        letter-spacing: 3px !important;
        text-transform: uppercase !important;
        margin-bottom: 30px !important;
        position: relative !important;
        font-family: 'Frank Ruhl Libre',sans-serif !important;
    }
    .row.content.module-40 h1, .row.content.module-40 h2, .row.content.module-40 h3, .row.content.module-40 h4, .row.content.module-40 h5 {
        color: #9b8578 !important;
        font-size: 40px !important;
        line-height: 45px !important;
        font-weight: 700 !important;
        letter-spacing: 3px !important;
        text-transform: uppercase !important;
        margin-bottom: 15px !important;
        position: relative !important;
        font-family: 'Frank Ruhl Libre',sans-serif !important;
    }
    .row.content.module-41 h1, .row.content.module-41 h2, .row.content.module-41 h3, .row.content.module-41 h4, .row.content.module-41 h5 {
        color: #9b8578 !important;
        font-size: 40px !important;
        line-height: 45px !important;
        font-weight: 700 !important;
        letter-spacing: 3px !important;
        text-transform: uppercase !important;
        margin-bottom: 15px !important;
        position: relative !important;
        font-family: 'Frank Ruhl Libre',sans-serif !important;
    }
    .row.content.module-42 h1, .row.content.module-42 h2, .row.content.module-42 h3, .row.content.module-42 h4, .row.content.module-42 h5 {
        color: #9b8578 !important;
        font-size: 40px !important;
        line-height: 45px !important;
        font-weight: 700 !important;
        letter-spacing: 3px !important;
        text-transform: uppercase !important;
        margin-bottom: 30px !important;
        position: relative !important;
        padding-top: 128px !important;
        font-family: 'Frank Ruhl Libre',sans-serif !important;
    }
    .row.content.module-43 h1, .row.content.module-43 h2, .row.content.module-43 h3, .row.content.module-43 h4, .row.content.module-43 h5 {
        color: #9b8578 !important;
        font-size: 40px !important;
        line-height: 45px !important;
        font-weight: 700 !important;
        letter-spacing: 3px !important;
        text-transform: uppercase !important;
        margin-bottom: 15px !important;
        position: relative !important;
        font-family: 'Frank Ruhl Libre',sans-serif !important;
    }
    .row.content.module-45 h1, .row.content.module-45 h2, .row.content.module-45 h3, .row.content.module-45 h4,  .row.content.module-45 h5 {
        color: #9b8578 !important;
        font-size: 40px !important;
        line-height: 45px !important;
        font-weight: 700 !important;
        letter-spacing: 3px !important;
        text-transform: uppercase !important;
        margin-bottom: 15px !important;
        position: relative !important;
        font-family: 'Frank Ruhl Libre',sans-serif !important;
    }
    .row.content.module-46 h1, .row.content.module-46 h2, .row.content.module-46 h3, .row.content.module-46 h4, .row.content.module-46 h5 {
        color: #9b8578 !important;
        font-size: 40px !important;
        line-height: 45px !important;
        font-weight: 700 !important;
        letter-spacing: 3px !important;
        text-transform: uppercase !important;
        margin-bottom: 30px !important;
        text-align: center !important;
        padding-top: 60px !important;
        padding-bottom: 60px !important;
        position: relative !important;
        font-family: 'Frank Ruhl Libre',sans-serif !important;
    }
    .row.content.module-50 .article.article-left h1, .row.content.module-50 .article.article-left h2, .row.content.module-50 .article.article-left h3, .row.content.module-50 .article.article-left h4, .row.content.module-50 .article.article-left h5 {
        color: #9b8578 !important;
        font-size: 40px !important;
        line-height: 40px !important;
        font-weight: 600 !important;
        letter-spacing: 3px !important;
        text-transform: uppercase !important;
        margin-bottom: 55px !important;
        position: relative !important;
        font-family: 'Frank Ruhl Libre',sans-serif !important;
    }
    .area-galerie2 .alone-title {
        color: #9b8578 !important;
        font-size: 45px !important;
        line-height: 38px !important;
        font-weight: 400 !important;
        letter-spacing: 3px !important;
        text-transform: uppercase !important;
        padding-bottom: 30px !important;
        position: relative !important;
        text-align: center !important;
        margin-top: 55px !important;
        font-family: 'Frank Ruhl Libre',sans-serif !important;
    }
}

@media (min-width: 1200px) {
    .m-29-a h4, .m-29-a [data-real-name="h_style"] {
        z-index: 999;
        position: relative;
    }
    .row.content.module-16 .module-15-gallery img:nth-of-type(2) {
        width: 400px;
        left: 0%;
        top: 31%;
        z-index: 9999;
    }
    .row.content.module-16 .module-15-gallery img:nth-of-type(3) {
        width: 445px;
        left: 10%;
        bottom: 0;
    }
    .row.content.module-6 .module-6-img.module-6-img-tip .txt {
        bottom: -70px;
    }
    .row.content.module-6 .module-6-img.module-6-img-last {
        margin-left: -70px;
        margin-top: 45px;
    }
    .row.content.module-15 .module-15-gallery img:nth-of-type(3) {
        bottom: 10%;
    }
    .row.content.module-14 .col-8 .tip p {
        margin-top: 40px;
        margin-left: -35px;
    }
    .row.content.module-13 .background {
        right: 0;
    }
    .row.content.module-10 .background {
        background-size: cover;
        left: 49%;
        width: 50%;
        right: 0;
    }
    #slider .text-content {
        bottom: 100px;
        top: auto;
    }
    .row.content.module-6 .module-6-img.module-6-img-tip {
        margin-top: -145px;
    }
    .row.content.module-9 .background {
        bottom: 50px;
    }
    .row.content.module-6 .module-6-img.module-6-img-tip .tip {
        bottom: -90px;
        width: 90%;
    }
    .row.content.module-6 .module-6-img.module-6-img-tip .tip p {
        margin-left: 140px;
        margin-top: 50px;
    }
    .row.content.module-27 .excerpt {
        font-size: 15pt;
    }
    .row.content.module-28 .col-5 {
        margin-top: -15%;
        background: #fff;
        padding: 15px;
    }
    .row.content.module-28 .col-5 h2 {
        color: #9b8578;
        font-size: 40px;
        line-height: 45px;
        font-weight: 700;
        letter-spacing: 3px;
        text-transform: uppercase;
        margin-bottom: 35px;
        position: relative;
        padding-left: 15px;
        padding-right: 15px;
    }
    .news-detail .module-1-txt {
        background-position-y: 5% !important;
    }
    .news-detail .content {
        margin-top: 30px;
    }
    .news-detail .content p {
        font-size: 14px !important;
        line-height: 20px !important;
        font-weight: 300 !important;
    }
    .area-galerie2 .alone-title {
        color: #9b8578 !important;
        font-size: 45px !important;
        line-height: 38px !important;
        font-weight: 400 !important;
        letter-spacing: 3px !important;
        text-transform: uppercase !important;
        padding-bottom: 30px !important;
        position: relative !important;
        text-align: center !important;
        margin-top: 55px !important;
        font-family: 'Frank Ruhl Libre',sans-serif !important;
    }
}